name: CI

on:
  push:
    branches:
      - "**"          # run on all branches
  pull_request:
    branches:
      - "**"          # run on all PRs

jobs:
  test-and-build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest

      - name: Run tests
        run: pytest

      - name: Set up Node and Sass
        uses: actions/setup-node@v4
        with:
          node-version: "22"

      - name: Install Node dependencies
        run: npm ci

      - name: Build CSS with Sass
        run: npm run build-css

      - name: Build Docker image
        run: docker build -t flask-devops-demo .
